.App {
    text-align: center;
}

.App-logo {
    height: 640px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.genre-list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.genre-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-color: var(--gray-light);
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    margin-top: 10px;
    flex-direction: column;
    padding-bottom: 35px;
}


@media (min-width: 768px) {
    .App {
        text-align: center;
    }

    .App-logo {
        height: 640px;
        pointer-events: none;
    }

    .genre-container {
        padding-left: 64px;
        padding-right: 64px;
    }
}